<a href="https://colab.research.google.com/github/AetherOmega/edd_1310_2021/blob/master/Actividad%20en%20clase%2001-Oct.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Intro Python 3
### Variables
tipo dinamico
escuela = "FES Aragón"

In [5]:
escuela = "FES Aragón"
print (escuela)
print ("-------")
edad = 13
estatura = 1.67
fumador = True 
frase = """
Esta es
una
frase de multiple linea
y tambien es
un tipo de dato
"""
print (frase)
nombre = 'Jose'
nombre_completo = "Jose Sosa Cardenas"

FES Aragón
-------

Esta es
una
frase de multiple linea
y tambien es
un tipo de dato

#Print
con comas ,

con signo mas +

con format ()

con operador f""

In [6]:
#
print (nombre, edad)

Jose 13

In [7]:
#El mas concatena CADENAS
print (nombre + str(edad))
#No tiene espacio por la concatenacion, a diferencia de la coma
print (nombre + nombre_completo) #snake case (palabras minusculas separadas por guiones)

Jose13
JoseJose Sosa Cardenas

In [12]:
#Con formato -> Su nombre es Jose y su edad es 13 años.
print ("Su nombre es", nombre, "y su edad es de ",edad,"años.")
print("Su nombre es (0) y su edad es de (1) años.".format(nombre,edad)  )
print("Su nombre es (1) y su edad es de (0) años.".format(nombre,edad) )

Su nombre es Jose y su edad es de  13 años.
Su nombre es (0) y su edad es de (1) años.
Su nombre es (1) y su edad es de (0) años.

# **Caracter de escape**



* \n salto de linea 
*\t tabulador
*\a beep
*\" imprimir comilla dobe
*\' imprimir comilla simple

In [ ]:
print(f"\tMi nombre es\n\t\t {nombre}")

# Ayuda 
dir()
help()

In [ ]:
help(str)

In [21]:
print(nombre_completo.capitalize() )
print(nombre_completo.upper() , end="-----" )
print(nombre_completo.title() )

Jose sosa cardenas
JOSE SOSA CARDENAS-----Jose Sosa Cardenas

In [21]:
help(print)

# Class String
Es manejada  como un arreglo ( c o java) o lista (python)

In [ ]:
telefono = "Huawei mate 30 pro" 
print( telefono [5] )

# Slicing
[inicio : stop : incremento]
Nota: El stoo no se incluye, termina en el valor anterior

In [28]:
print(telefono[7:11:1])
# el inicio y el incremento son opcionales
# el valor por defecro de stio es len(str)
print(telefono[:11:])
#incremento negativo
print(telefono[::-1])
#slacing negativo
print(telefono[-3::-1])

mate
Huawei mate
orp 03 etam iewauH
p 03 etam iewauH

# Metodos de string (str)

Existen muy utiles en esta clase

In [52]:
facultad="    facultad de estudios aragon     \n "
print(facultad)
print(facultad.count("u")) #numero de elementos en la cadena
print(facultad.find("s")) #Busca un caracter(la primera coincidencia)
tamaño=len (facultad)
print(facultad.strip())
print(len(facultad))
print(f"tamaño de la cadena es {tamaño} caracteres")
print(facultad.strip().split(" "))

print("--------------------------------------------------")
#copiar cadenas
otra_cadena = facultad
print(otra_cadena)
facultad = "FES ARAGON"
print(facultad)
print(otra_cadena)

#copiar listas
colores = ["rojo","verde"]
otra = colores.copy()
print(colores)
print(otra)
otra.append("rosa")
print(colores)
print(otra)

    facultad de estudios aragon

2
17
facultad de estudios aragon
38
tamaño de la cadena es 38 caracteres
['facultad', 'de', 'estudios', 'aragon']
--------------------------------------------------
    facultad de estudios aragon

FES ARAGON
    facultad de estudios aragon

['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde', 'rosa']